# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
#*.lib (KiCad has .lib files)
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.bin

# Debug files
*.dSYM/

# KiCad specific
*.bak
*.kicad_pcb-bak
*-save.pro
*-cache.lib
*-rescue.lib
*-save.kicad_pcb

# Linker
*.map
